[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipenv = ">=2018.11.26"
flake8 = ">=3.7.8"
wheel = ">=0.33.6"
pytest = "*"
v = {editable = true,version = "*"}

[packages]
ed25519 = "~=1.5"
ujson = ">=1.35"
uvloop = "*"
mnemonic = "*"
crc16 = "*"
pycryptodome = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
